<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HOJ</title>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">


    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4">

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                Categories
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
            </div>
          </div>
          <div class="col-sm-4">


            <form id="search" v-cloak>
              <input type="text" v-model="searchString" placeholder="Search for a question" />
              <!--<search></search>-->
            </form>

          </div>
          <div class="col-sm-4">


            <button class="btn btn-default">
               Login
             </button>

          </div>
        </div>

        <div id="app">

          <!--<navbar></navbar>-->
          <search></search>
          <!--<questions></questions>
    <question></question>-->



        </div>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>


          <!--LOAD LIBRARIES-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
          <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>


          <!--LOAD COMPONENTS-->
          <!--<script src="app/components/questions-component.js"></script>
  <script src="app/components/navbar-component.js"></script>
  <script src="app/components/login-component.js"></script>
  <script src="app/components/question-component.js"></script>-->
          <script src="app/components/search-component.js"></script>

          <!--LOAD MAIN/STORE-->
          <script src="app/store.js"></script>
          <script src="app/main.js"></script>

</body>

</html>
<div class="container">
  <div class="row">
    <ul>
      <label for="search-entry">Search </label>
      <input type="text" id="" v-model="searchString" placeholder="search for" required>
      <li v-for="question in filteredQuestions">
        <router-link :to="'/questions/'+question._id">
          {{question.title}}
        </router-link>
      </li>
    </ul>

  </div>
</div>